:root {
    --brown: #552a00;
    --dark: #000000;

}

/* profile picture */
#pfp-img {
    border-radius: 24px;
    margin-right: 8px;
}

/* navbar styles */
.custom-navbar {
    background-color: var(--brown);
}

.navbar-toggler:hover {
    color: var(--dark);
}

.custom-navbar a:hover {
    color: var(--dark);
}